<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :days_ago %>
    <%= form.number_field :days_ago %>
  </div>

  <div class="field">
    <%= form.hidden_field :sellers_ids, value: Seller.pluck(:id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
